@page "/admin/crashes/edit/{id:long}"
@page "/admin/crashes/create" 

@inherits OwningComponentBase<ICrashRepository>

<style>
    div.validation-message {
        color: rgb(220,53,69);
        font-weight: 500
    }
</style>

<h3 class="bg-@ThemeColor text-white text-center p-1">@TitleText a Crash </h3>

<EditForm Model="c" OnValidSubmit="SaveCrash">

    <DataAnnotationsValidator></DataAnnotationsValidator>

    <div class="form-group">
        <label>Crash Id: </label>
        <input class="form-control" disabled value="@c.CRASH_ID" />
    </div>

    <div class="form-group">
        <label>Crash Date and Time: </label>
        <ValidationMessage For="@(() => c.CRASH_DATETIME)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="c.CRASH_DATETIME"></InputText>
    </div>

    <div class="form-group">
        <label>Route: </label>
        <ValidationMessage For="@(() => c.ROUTE)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="c.ROUTE"></InputText>
    </div>

    <div class="form-group">
        <label>Milepoint: </label>
        <ValidationMessage For="@(() => c.MILEPOINT)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.MILEPOINT"></InputNumber>
    </div>

    <div class="form-group">
        <label>Latitude: </label>
        <ValidationMessage For="@(() => c.LAT_UTM_Y)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.LAT_UTM_Y"></InputNumber>
    </div>

    <div class="form-group">
        <label>Longitude: </label>
        <ValidationMessage For="@(() => c.LONG_UTM_X)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.LONG_UTM_X"></InputNumber>
    </div>

    <div class="form-group">
        <label>Main Road Name: </label>
        <ValidationMessage For="@(() => c.MAIN_ROAD_NAME)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="c.MAIN_ROAD_NAME"></InputText>
    </div>

    <div class="form-group">
        <label>City: </label>
        <ValidationMessage For="@(() => c.CITY)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="c.CITY"></InputText>
    </div>

    <div class="form-group">
        <label>County Name: </label>
        <ValidationMessage For="@(() => c.COUNTY_NAME)"></ValidationMessage>
        <InputText class="form-control" @bind-Value="c.COUNTY_NAME"></InputText>
    </div>

    <div class="form-group">
        <label>Crash Severity ID: </label>
        <ValidationMessage For="@(() => c.CRASH_SEVERITY_ID)"></ValidationMessage>
        <InputNumber class="form-control" @bind-Value="c.CRASH_SEVERITY_ID"></InputNumber>
    </div>

    <div class="form-group">
        <label>Work Zone Related: </label>
        <ValidationMessage For="@(() => c.WORK_ZONE_RELATED)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.WORK_ZONE_RELATED"></InputText>
        <InputSelect @bind-Value="c.WORK_ZONE_RELATED">
            @if (c.WORK_ZONE_RELATED == "FALSE")
            {
                <option selected value="@c.WORK_ZONE_RELATED"></option>
                <option value="TRUE">True</option>
            }
            else if (c.WORK_ZONE_RELATED == "TRUE")
            {
                <option selected value="@c.WORK_ZONE_RELATED"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.WORK_ZONE_RELATED"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>


    <div class="form-group">
        <label>Pedestrian Involved: </label>
        <ValidationMessage For="@(() => c.PEDESTRIAN_INVOLVED)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.PEDESTRIAN_INVOLVED"></InputText>
        <InputSelect @bind-Value="c.PEDESTRIAN_INVOLVED">
            @if (c.PEDESTRIAN_INVOLVED == "FALSE")
            {
                <option selected value="@c.PEDESTRIAN_INVOLVED"></option>
                <option value="TRUE">True</option>
            }
            else if (c.PEDESTRIAN_INVOLVED == "TRUE")
            {
                <option selected value="@c.PEDESTRIAN_INVOLVED"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.PEDESTRIAN_INVOLVED"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Bicyclist Involved: </label>
        <ValidationMessage For="@(() => c.BICYCLIST_INVOLVED)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.BICYCLIST_INVOLVED"></InputText>
        <InputSelect @bind-Value="c.BICYCLIST_INVOLVED">
            @if (c.BICYCLIST_INVOLVED == "FALSE")
            {
                <option selected value="@c.BICYCLIST_INVOLVED"></option>
                <option value="TRUE">True</option>
            }
            else if (c.BICYCLIST_INVOLVED == "TRUE")
            {
                <option selected value="@c.BICYCLIST_INVOLVED"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.BICYCLIST_INVOLVED"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Motorcycle Involved: </label>
        <ValidationMessage For="@(() => c.MOTORCYCLE_INVOLVED)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.MOTORCYCLE_INVOLVED"></InputText>
        <InputSelect @bind-Value="c.MOTORCYCLE_INVOLVED">
            @if (c.MOTORCYCLE_INVOLVED == "FALSE")
            {
                <option selected value="@c.MOTORCYCLE_INVOLVED"></option>
                <option value="TRUE">True</option>
            }
            else if (c.MOTORCYCLE_INVOLVED == "TRUE")
            {
                <option selected value="@c.MOTORCYCLE_INVOLVED"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.MOTORCYCLE_INVOLVED"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Improper Restraint: </label>
        <ValidationMessage For="@(() => c.IMPROPER_RESTRAINT)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.IMPROPER_RESTRAINT"></InputText>
        <InputSelect @bind-Value="c.IMPROPER_RESTRAINT">
            @if (c.IMPROPER_RESTRAINT == "FALSE")
            {
                <option selected value="@c.IMPROPER_RESTRAINT"></option>
                <option value="TRUE">True</option>
            }
            else if (c.IMPROPER_RESTRAINT == "TRUE")
            {
                <option selected value="@c.IMPROPER_RESTRAINT"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.IMPROPER_RESTRAINT"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Unrestrained: </label>
        <ValidationMessage For="@(() => c.UNRESTRAINED)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.UNRESTRAINED"></InputText>
        <InputSelect @bind-Value="c.UNRESTRAINED">
            @if (c.UNRESTRAINED == "FALSE")
            {
                <option selected value="@c.UNRESTRAINED"></option>
                <option value="TRUE">True</option>
            }
            else if (c.UNRESTRAINED == "TRUE")
            {
                <option selected value="@c.UNRESTRAINED"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.UNRESTRAINED"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>DUI: </label>
        <ValidationMessage For="@(() => c.DUI)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.DUI"></InputText>
        <InputSelect @bind-Value="c.DUI">
            @if (c.DUI == "FALSE")
            {
                <option selected value="@c.DUI"></option>
                <option value="TRUE">True</option>
            }
            else if (c.DUI == "TRUE")
            {
                <option selected value="@c.DUI"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.DUI"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Intersection Related: </label>
        <ValidationMessage For="@(() => c.INTERSECTION_RELATED)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.INTERSECTION_RELATED"></InputText>
        <InputSelect @bind-Value="c.INTERSECTION_RELATED">
            @if (c.INTERSECTION_RELATED == "FALSE")
            {
                <option selected value="@c.INTERSECTION_RELATED"></option>
                <option value="TRUE">True</option>
            }
            else if (c.INTERSECTION_RELATED == "TRUE")
            {
                <option selected value="@c.INTERSECTION_RELATED"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.INTERSECTION_RELATED"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Wild Animal Related: </label>
        <ValidationMessage For="@(() => c.WILD_ANIMAL_RELATED)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.WILD_ANIMAL_RELATED"></InputText>
        <InputSelect @bind-Value="c.WILD_ANIMAL_RELATED">
            @if (c.WILD_ANIMAL_RELATED == "FALSE")
            {
                <option selected value="@c.WILD_ANIMAL_RELATED"></option>
                <option value="TRUE">True</option>
            }
            else if (c.WILD_ANIMAL_RELATED == "TRUE")
            {
                <option selected value="@c.WILD_ANIMAL_RELATED"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.WILD_ANIMAL_RELATED"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Domestic Animal Related: </label>
        <ValidationMessage For="@(() => c.DOMESTIC_ANIMAL_RELATED)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.DOMESTIC_ANIMAL_RELATED"></InputText>
        <InputSelect @bind-Value="c.DOMESTIC_ANIMAL_RELATED">
            @if (c.DOMESTIC_ANIMAL_RELATED == "FALSE")
            {
                <option selected value="@c.DOMESTIC_ANIMAL_RELATED"></option>
                <option value="TRUE">True</option>
            }
            else if (c.DOMESTIC_ANIMAL_RELATED == "TRUE")
            {
                <option selected value="@c.DOMESTIC_ANIMAL_RELATED"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.DOMESTIC_ANIMAL_RELATED"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Overturn Rollover: </label>
        <ValidationMessage For="@(() => c.OVERTURN_ROLLOVER)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.OVERTURN_ROLLOVER"></InputText>
        <InputSelect @bind-Value="c.OVERTURN_ROLLOVER">
            @if (c.OVERTURN_ROLLOVER == "FALSE")
            {
                <option selected value="@c.OVERTURN_ROLLOVER"></option>
                <option value="TRUE">True</option>
            }
            else if (c.OVERTURN_ROLLOVER == "TRUE")
            {
                <option selected value="@c.OVERTURN_ROLLOVER"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.OVERTURN_ROLLOVER"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Commercial Motor Vehicle Involved: </label>
        <ValidationMessage For="@(() => c.COMMERCIAL_MOTOR_VEH_INVOLVED)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.COMMERCIAL_MOTOR_VEH_INVOLVED"></InputText>
        <InputSelect @bind-Value="c.COMMERCIAL_MOTOR_VEH_INVOLVED">
            @if (c.COMMERCIAL_MOTOR_VEH_INVOLVED == "FALSE")
            {
                <option selected value="@c.COMMERCIAL_MOTOR_VEH_INVOLVED"></option>
                <option value="TRUE">True</option>
            }
            else if (c.COMMERCIAL_MOTOR_VEH_INVOLVED == "TRUE")
            {
                <option selected value="@c.COMMERCIAL_MOTOR_VEH_INVOLVED"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.COMMERCIAL_MOTOR_VEH_INVOLVED"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Teenage Driver Involved: </label>
        <ValidationMessage For="@(() => c.TEENAGE_DRIVER_INVOLVED)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.TEENAGE_DRIVER_INVOLVED"></InputText>
        <InputSelect @bind-Value="c.TEENAGE_DRIVER_INVOLVED">
            @if (c.TEENAGE_DRIVER_INVOLVED == "FALSE")
            {
                <option selected value="@c.TEENAGE_DRIVER_INVOLVED"></option>
                <option value="TRUE">True</option>
            }
            else if (c.TEENAGE_DRIVER_INVOLVED == "TRUE")
            {
                <option selected value="@c.TEENAGE_DRIVER_INVOLVED"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.TEENAGE_DRIVER_INVOLVED"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Older Driver Involved: </label>
        <ValidationMessage For="@(() => c.OLDER_DRIVER_INVOLVED)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.OLDER_DRIVER_INVOLVED"></InputText>
        <InputSelect @bind-Value="c.OLDER_DRIVER_INVOLVED">
            @if (c.OLDER_DRIVER_INVOLVED == "FALSE")
            {
                <option selected value="@c.OLDER_DRIVER_INVOLVED"></option>
                <option value="TRUE">True</option>
            }
            else if (c.OLDER_DRIVER_INVOLVED == "TRUE")
            {
                <option selected value="@c.OLDER_DRIVER_INVOLVED"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.OLDER_DRIVER_INVOLVED"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Night/Dark Condition: </label>
        <ValidationMessage For="@(() => c.NIGHT_DARK_CONDITION)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.NIGHT_DARK_CONDITION"></InputText>
        <InputSelect @bind-Value="c.NIGHT_DARK_CONDITION">
            @if (c.NIGHT_DARK_CONDITION == "FALSE")
            {
                <option selected value="@c.NIGHT_DARK_CONDITION"></option>
                <option value="TRUE">True</option>
            }
            else if (c.NIGHT_DARK_CONDITION == "TRUE")
            {
                <option selected value="@c.NIGHT_DARK_CONDITION"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.NIGHT_DARK_CONDITION"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Single Vehicle: </label>
        <ValidationMessage For="@(() => c.SINGLE_VEHICLE)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.SINGLE_VEHICLE"></InputText>
        <InputSelect @bind-Value="c.SINGLE_VEHICLE">
            @if (c.SINGLE_VEHICLE == "FALSE")
            {
                <option selected value="@c.SINGLE_VEHICLE"></option>
                <option value="TRUE">True</option>
            }
            else if (c.SINGLE_VEHICLE == "TRUE")
            {
                <option selected value="@c.SINGLE_VEHICLE"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.SINGLE_VEHICLE"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Distracted Driving: </label>
        <ValidationMessage For="@(() => c.DISTRACTED_DRIVING)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.DISTRACTED_DRIVING"></InputText>
        <InputSelect @bind-Value="c.DISTRACTED_DRIVING">
            @if (c.DISTRACTED_DRIVING == "FALSE")
            {
                <option selected value="@c.DISTRACTED_DRIVING"></option>
                <option value="TRUE">True</option>
            }
            else if (c.DISTRACTED_DRIVING == "TRUE")
            {
                <option selected value="@c.DISTRACTED_DRIVING"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.DISTRACTED_DRIVING"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Drowsy Driving: </label>
        <ValidationMessage For="@(() => c.DROWSY_DRIVING)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.DROWSY_DRIVING"></InputText>
        <InputSelect @bind-Value="c.DROWSY_DRIVING">
            @if (c.DROWSY_DRIVING == "FALSE")
            {
                <option selected value="@c.DROWSY_DRIVING"></option>
                <option value="TRUE">True</option>
            }
            else if (c.DROWSY_DRIVING == "TRUE")
            {
                <option selected value="@c.DROWSY_DRIVING"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.DROWSY_DRIVING"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label>Roadway Departure: </label>
        <ValidationMessage For="@(() => c.ROADWAY_DEPARTURE)"></ValidationMessage>
        <InputText class="form-control w-25" @bind-Value="c.ROADWAY_DEPARTURE"></InputText>
        <InputSelect @bind-Value="c.ROADWAY_DEPARTURE">
            @if (c.ROADWAY_DEPARTURE == "FALSE")
            {
                <option selected value="@c.ROADWAY_DEPARTURE"></option>
                <option value="TRUE">True</option>
            }
            else if (c.ROADWAY_DEPARTURE == "TRUE")
            {
                <option selected value="@c.ROADWAY_DEPARTURE"></option>
                <option value="FALSE">False</option>
            }
            else
            {
                <option selected value="@c.ROADWAY_DEPARTURE"></option>
                <option value="TRUE">True</option>
                <option value="FALSE">False</option>
            }
        </InputSelect>
    </div>

    <button type="submit" class="btn btn-@ThemeColor">Save</button>
    <NavLink class="btn btn-secondary" href="/admin/crashes">Cancel</NavLink>

</EditForm>

@code {

    [Parameter]
    public long Id { get; set; } = 0;

    public string ThemeColor => Id == 0 ? "primary" : "warning";
    public string TitleText => Id == 0 ? "Create" : "Edit";

    public Crash c { get; set; } = new Crash();

    public ICrashRepository repo => Service;

    protected override void OnParametersSet()
    {
        if (Id != 0)
        {
            c = repo.crashdata.FirstOrDefault(x => x.CRASH_ID == Id);
        }
    }

    public void SaveCrash()
    {
        if (Id == 0)
        {
            repo.CreateCrash(c);
        }
        else
        {
            repo.SaveCrash(c);
        }

        NavManager.NavigateTo("/admin/crashes");
    }

    [Inject]
    public NavigationManager NavManager { get; set; }

}
